<!DOCTYPE html>
<html>
  <head>
    <title>SmartBall</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Adidas SmartBall</h1>
    <p>Welcome to JuggleMasta</p>
  </body>
</html>
